In [1]:
import pandas as pd
import datetime
import numpy as np
import time

pd.options.mode.chained_assignment = None  # default='warn'

In [16]:
d_list=   [ '180603', '180604', '180605', '180606', '180607', '180608', '180609', '180610',\
           '180611', '180612', '180613', '180614', '180615', '180616', '180617', '180618', '180619', '180620',\
           '180621', '180622', '180623', '180624', '180625', '180626', '180627', '180628', '180629', '180630',\
           '180701', '180702', '180703', '180704', '180705', '180706', '180707', '180708', '180709', '180710', \
           '180711', '180712', '180713', '180714', '180715',\
           '180716', '180717', '180718', '180719', '180720', '180721', '180722', '180723', '180724', '180725',\
           '180726', '180727', '180728', '180729', '180730', '180731', '180801', '180802', '180803', '180804',\
           '180805', '180806', '180807', '180808', '180809', '180810', '180811', '180812', '180813', '180814',\
           '180815', '180816', '180817', '180818', '180819', '180820', '180821', '180822', \
            '180828', '180829', '180830', '180831', '180901', '180902', '180903', '180904', '180905',\
           '180906', '180907', '180908', '180909', '180910', '180911', '180912', '180913', '180914', '180915',\
           '180916', '180917', '180918', '180919', '180920', '180921', '180922', '180923', '180924', '180925', \
            '180926', '180927', '180928', '180929', '180930', '181001', '181002', '181003', '181004', '181005', \
           '181006', '181007', '181008', '181009', '181010', '181011', '181012', '181013', '181014', '181015', \
           '181016', '181017', '181018', '181019', '181020', '181021',\
            '181022', '181023', '181024', '181025', '181026', '181027', '181028', '181029', '181030', \
           '181031', '181101', '181102', '181103', '181104', '181105', '181106', '181107', '181108', '181109',\
           '181110', '181111']
day_all = ['180602', '180603', '180604', '180605', '180606', '180607', '180608', '180609', '180610',\
           '180611', '180612', '180613', '180614', '180615', '180616', '180617', '180618', '180619', '180620',\
           '180621', '180622', '180623', '180624', '180625', '180626', '180627', '180628', '180629', '180630',\
           '180701', '180702', '180703', '180704', '180705', '180706', '180707', '180708', '180709', '180710', \
           '180711', '180712', '180713', '180714', '180715',\
           '180716', '180717', '180718', '180719', '180720', '180721', '180722', '180723', '180724', '180725',\
           '180726', '180727', '180728', '180729', '180730', '180731', '180801', '180802', '180803', '180804',\
           '180805', '180806', '180807', '180808', '180809', '180810', '180811', '180812', '180813', '180814',\
           '180815', '180816', '180817', '180818', '180819', '180820', '180821', '180822', \
            '180828', '180829', '180830', '180831', '180901', '180902', '180903', '180904', '180905',\
           '180906', '180907', '180908', '180909', '180910', '180911', '180912', '180913', '180914', '180915',\
           '180916', '180917', '180918', '180919', '180920', '180921', '180922', '180923', '180924', '180925', \
            '180926', '180927', '180928', '180929', '180930', '181001', '181002', '181003', '181004', '181005', \
           '181006', '181007', '181008', '181009', '181010', '181011', '181012', '181013', '181014', '181015', \
           '181016', '181017', '181018', '181019', '181020', '181021',\
            '181022', '181023', '181024', '181025', '181026', '181027', '181028', '181029', '181030', \
           '181031', '181101', '181102', '181103', '181104', '181105', '181106', '181107', '181108', '181109',\
           '181110', '181111']

### 统计前一天未完成在今天0-4点完成的作业

In [13]:
d_unfnish_list = ['180602', '180603', '180604', '180605', '180606', '180607', '180608', '180609', '180610',\
           '180611', '180612', '180613', '180614', '180615', '180616', '180617', '180618', '180619', '180620',\
           '180621', '180622', '180623', '180624', '180625', '180626', '180627', '180628', '180629', '180630',\
           '180701', '180702', '180703', '180704', '180705', '180706', '180707', '180708', '180709', '180710', \
           '180711', '180712', '180713', '180714', '180715',\
           '180716', '180717', '180718', '180719', '180720', '180721', '180722', '180723', '180724', '180725',\
           '180726', '180727', '180728', '180729', '180730', '180731', '180801', '180802', '180803', '180804',\
           '180805', '180806', '180807', '180808', '180809', '180810', '180811', '180812', '180813', '180814',\
           '180815', '180816', '180817', '180818', '180819', '180820', '180821',\
            '180827','180828', '180829', '180830', '180831', '180901', '180902', '180903', '180904', '180905',\
           '180906', '180907', '180908', '180909', '180910', '180911', '180912', '180913', '180914', '180915',\
           '180916', '180917', '180918', '180919', '180920', '180921', '180922', '180923', '180924', '180925', \
            '180926', '180927', '180928', '180929', '180930', '181001', '181002', '181003', '181004', '181005', \
           '181006', '181007', '181008', '181009', '181010', '181011', '181012', '181013', '181014', '181015', \
           '181016', '181017', '181018', '181019', '181020', '181021',\
            '181022', '181023', '181024', '181025', '181026', '181027', '181028', '181029', '181030', \
           '181031', '181101', '181102', '181103', '181104', '181105', '181106', '181107', '181108', '181109',\
           '181110']

d_unfnish_list_all =['180602', '180603', '180604', '180605', '180606', '180607', '180608', '180609', '180610',\
           '180611', '180612', '180613', '180614', '180615', '180616', '180617', '180618', '180619', '180620',\
           '180621', '180622', '180623', '180624', '180625', '180626', '180627', '180628', '180629', '180630',\
           '180701', '180702', '180703', '180704', '180705', '180706', '180707', '180708', '180709', '180710', \
           '180711', '180712', '180713', '180714', '180715',\
           '180716', '180717', '180718', '180719', '180720', '180721', '180722', '180723', '180724', '180725',\
           '180726', '180727', '180728', '180729', '180730', '180731', '180801', '180802', '180803', '180804',\
           '180805', '180806', '180807', '180808', '180809', '180810', '180811', '180812', '180813', '180814',\
           '180815', '180816', '180817', '180818', '180819', '180820', '180821', '180822', \
            '180827','180828', '180829', '180830', '180831', '180901', '180902', '180903', '180904', '180905',\
           '180906', '180907', '180908', '180909', '180910', '180911', '180912', '180913', '180914', '180915',\
           '180916', '180917', '180918', '180919', '180920', '180921', '180922', '180923', '180924', '180925', \
            '180926', '180927', '180928', '180929', '180930', '181001', '181002', '181003', '181004', '181005', \
           '181006', '181007', '181008', '181009', '181010', '181011', '181012', '181013', '181014', '181015', \
           '181016', '181017', '181018', '181019', '181020', '181021',\
            '181022', '181023', '181024', '181025', '181026', '181027', '181028', '181029', '181030', \
           '181031', '181101', '181102', '181103', '181104', '181105', '181106', '181107', '181108', '181109',\
           '181110', '181111']

In [14]:
index = []
day_uend_count = []
for day in d_unfnish_list:
    
    #day = '180716'
    day_i  = d_unfnish_list_all.index(day)
    day_save = d_unfnish_list_all[day_i+1]
    print(day_save,end=' ')
    
    ajob = pd.read_csv(r'E:\jupyter\CTM\data_src\ajob_0\ajob_%s_0.csv'%day,low_memory=False)

    start_time_th = int('20'+day_save+'000000')
    end_time_th = int('20'+day_save+'040000')
    ajob = ajob[(ajob['end_time']>=start_time_th )&(ajob['end_time']<=end_time_th)]

    day_uend_count.append([ajob.end_time.count()])

    index.append(day_save)

uend_count_df = pd.DataFrame(day_uend_count,columns=['end_at_nextday_count'])
uend_count_df.index = index

print(uend_count_df.head())
print(uend_count_df.tail())
print(uend_count_df.shape)

180603 180604 180605 180606 180607 180608 180609 180610 180611 180612 180613 180614 180615 180616 180617 180618 180619 180620 180621 180622 180623 180624 180625 180626 180627 180628 180629 180630 180701 180702 180703 180704 180705 180706 180707 180708 180709 180710 180711 180712 180713 180714 180715 180716 180717 180718 180719 180720 180721 180722 180723 180724 180725 180726 180727 180728 180729 180730 180731 180801 180802 180803 180804 180805 180806 180807 180808 180809 180810 180811 180812 180813 180814 180815 180816 180817 180818 180819 180820 180821 180822 180828 180829 180830 180831 180901 180902 180903 180904 180905 180906 180907 180908 180909 180910 180911 180912 180913 180914 180915 180916 180917 180918 180919 180920 180921 180922 180923 180924 180925 180926 180927 180928 180929 180930 181001 181002 181003 181004 181005 181006 181007 181008 181009 181010 181011 181012 181013 181014 181015 181016 181017 181018 181019 181020 181021 181022 181023 181024 181025 181026 181027 181028 181029 181030 181031 181101 181102 181103 181104 181105 181106 181107 181108 181109 181110 181111         end_at_nextday_count
180603                  1116
180604                   529
180605                   708
180606                   325
180607                   501
        end_at_nextday_count
181107                   393
181108                   337
181109                   605
181110                   315
181111                   298
(157, 1)

### 统计完成在今天0-4点完成的作业,按folder分组

In [22]:
prefixs_2 = ('SYS_FW','SYS_FS','FW_LD','LD_TDW','STG_V','RT_RST','FW_TS','STG_C','PDM_P','EX_P','EXM_P',\
           'PDM_C','PDM_F','EXZ_P','NDS_P','NDS_C','EX_T','EXM_T','EXZ_T','EX_A','EXM_A','BRTL_C',\
           'RF_RST','FW_TB','BRTL_P','TS_HEES','EXZ_A','TS_HOSM','HEES_ETL1','EXQ_P','TRM_HCXI','TRZ_HCXI','TR_HCXI','BCOR_P')
def repalce_jobname_head(job_head):
    if job_head in prefixs_2:
        return job_head
    else:
        return 'head_2_other'
    
allday_list =[]
allday_index = []


    
for day in d_list:
    print(day,end =' ')
    everyday_list=[]
    
    #day = '181028'
    endt_th = int('20'+ day +'040000')
    
    df = pd.read_csv(r'E:\jupyter\CTM\data_src\ajob_0\ajob_%s_0.csv'%day,low_memory=False)
    
    df = df[df['end_time'].notnull()]
    df = df[df['end_time']<endt_th]
    
    df['job_prefix'] = df['job_name'].apply(lambda x:'_'.join(x.split("_")[0:2]))
    df['job_prefix'] = df['job_prefix'].apply(repalce_jobname_head)
    
    
    
    for hd_2 in prefixs_2:
        everyday_list.append(df[df.job_prefix==hd_2].order_id.count())
    
    
    everyday_list.append(df['order_id'].count())

    allday_list.append(everyday_list)
    allday_index.append(day)
    
colms = [cl+'_finsih0_4_count' for cl in prefixs_2]+['all_finsat_0_4_count'] 
fnish_at_0_4_countdf = pd.DataFrame(allday_list,columns=colms)
fnish_at_0_4_countdf.index = allday_index
print(fnish_at_0_4_countdf.shape)

180603 180604 180605 180606 180607 180608 180609 180610 180611 180612 180613 180614 180615 180616 180617 180618 180619 180620 180621 180622 180623 180624 180625 180626 180627 180628 180629 180630 180701 180702 180703 180704 180705 180706 180707 180708 180709 180710 180711 180712 180713 180714 180715 180716 180717 180718 180719 180720 180721 180722 180723 180724 180725 180726 180727 180728 180729 180730 180731 180801 180802 180803 180804 180805 180806 180807 180808 180809 180810 180811 180812 180813 180814 180815 180816 180817 180818 180819 180820 180821 180822 180828 180829 180830 180831 180901 180902 180903 180904 180905 180906 180907 180908 180909 180910 180911 180912 180913 180914 180915 180916 180917 180918 180919 180920 180921 180922 180923 180924 180925 180926 180927 180928 180929 180930 181001 181002 181003 181004 181005 181006 181007 181008 181009 181010 181011 181012 181013 181014 181015 181016 181017 181018 181019 181020 181021 181022 181023 181024 181025 181026 181027 181028 181029 181030 181031 181101 181102 181103 181104 181105 181106 181107 181108 181109 181110 181111 (157, 35)

In [23]:
fnish_at_0_4_countdf.head(2)

,SYS_FW_finsih0_4_count,SYS_FS_finsih0_4_count,FW_LD_finsih0_4_count,LD_TDW_finsih0_4_count,STG_V_finsih0_4_count,RT_RST_finsih0_4_count,FW_TS_finsih0_4_count,STG_C_finsih0_4_count,PDM_P_finsih0_4_count,EX_P_finsih0_4_count,...,TS_HEES_finsih0_4_count,EXZ_A_finsih0_4_count,TS_HOSM_finsih0_4_count,HEES_ETL1_finsih0_4_count,EXQ_P_finsih0_4_count,TRM_HCXI_finsih0_4_count,TRZ_HCXI_finsih0_4_count,TR_HCXI_finsih0_4_count,BCOR_P_finsih0_4_count,all_finsat_0_4_count
180603,4786,4325,6490,1405,1139,5159,3103,1020,1164,2893,...,987,1488,245,497,554,204,203,207,74,67568
180604,9753,9622,7134,4316,3671,5162,3203,3014,2747,2790,...,1156,1192,667,0,556,196,172,211,170,101489

In [25]:
fnish_at_0_4_countdf = fnish_at_0_4_countdf.merge(uend_count_df,how='left',left_index=True,right_index=True)

In [28]:
mean_val = fnish_at_0_4_countdf['end_at_nextday_count'].mean()
fnish_at_0_4_countdf['end_at_nextday_count'] = fnish_at_0_4_countdf['end_at_nextday_count'].replace(0,mean_val)
fnish_at_0_4_countdf.to_csv(r'E:\jupyter\CTM\data_processed\ajob3\fnish_at_0_4_count.csv',index=True)

In [29]:
fnish_at_0_4_countdf = fnish_at_0_4_countdf.round(1)
fnish_at_0_4_countdf.to_csv(r'E:\jupyter\CTM\data_processed\ajob3\fnish_at_0_4_count.csv',index=True)

In [ ]:
fnish_at_0_4_countdf