In [2]:
import pandas as pd

day = '180704'

ajob = pd.read_csv(r'E:\jupyter\CTM\data_src\ajob\ajob_%s_0.txt'%day,low_memory=False)
event = pd.read_csv(r'E:\jupyter\CTM\data_src\evet\evet_%s.csv'%day,low_memory=False)

In [4]:
ajob = ajob[ajob.order_table=='BRTL_RTL2']
print(ajob.shape)

(80, 32)

In [6]:
ajob['order_id'] = ajob[['order_id','server']].apply(lambda x:x[0]+str(x[1]),axis =1 )
ajob = ajob[ajob.odate == 180704]
ajob = ajob[['order_id','job_name','order_table','end_time','start_time','nodegroup']]

In [7]:
ajob.head()

,order_id,job_name,order_table,end_time,start_time,nodegroup
161787,5i2vk2,BRTL_P_BRTL_BC_DAY_CARD_APL_EVT_1,BRTL_RTL2,2.018070e+13,2.018070e+13,GRP_TD_AGENT
161820,5i2x22,BRTL_P_BRTL_PH_PMACS_PROD_HLD_INC_SR_4,BRTL_RTL2,2.018070e+13,2.018070e+13,GRP_TD_AGENT
164175,5i2vj2,BRTL_F_BRTL_PH_CUID_MIT_AST_CFG_SR,BRTL_RTL2,2.018070e+13,2.018070e+13,GRP_TD_AGENT
164217,5i2x12,BRTL_P_BRTL_PH_PMACS_PROD_HLD_INC_SR_3,BRTL_RTL2,NaN,NaN,GRP_TD_AGENT
164395,5i2vi2,BRTL_P_BRTL_PH_CUID_MIT_AST_CFG_SR_1,BRTL_RTL2,2.018070e+13,2.018070e+13,GRP_TD_AGENT

In [8]:
event.head(3)

              evt_time  new_value  old_value order_id  v_date  server
0  2018-07-04 00:21:08       16.0        8.0    0ykcd  180704       1
1  2018-07-04 00:21:08       16.0        8.0    0yn72  180704       1
2  2018-07-04 00:21:08       16.0        8.0    0yebe  180704       1

In [10]:

event['order_id'] = event[['order_id','server']].apply(lambda x:str(x[0])+str(x[1]),axis =1 )

In [11]:
event.shape

(3724061, 6)

In [12]:
ajob = ajob.merge(event,on='order_id',how ='inner')

In [13]:
ajob.shape

(216, 11)

In [14]:
ajob.head()

,order_id,job_name,order_table,end_time,start_time,nodegroup,evt_time,new_value,old_value,v_date,server
0,5i2vk2,BRTL_P_BRTL_BC_DAY_CARD_APL_EVT_1,BRTL_RTL2,2.018070e+13,2.018070e+13,GRP_TD_AGENT,2018-07-04 03:34:40,16.0,8.0,180704,2
1,5i2vk2,BRTL_P_BRTL_BC_DAY_CARD_APL_EVT_1,BRTL_RTL2,2.018070e+13,2.018070e+13,GRP_TD_AGENT,2018-07-04 03:34:31,8.0,1.0,180704,2
2,5i2x22,BRTL_P_BRTL_PH_PMACS_PROD_HLD_INC_SR_4,BRTL_RTL2,2.018070e+13,2.018070e+13,GRP_TD_AGENT,2018-07-04 05:43:07,16.0,8.0,180704,2
3,5i2x22,BRTL_P_BRTL_PH_PMACS_PROD_HLD_INC_SR_4,BRTL_RTL2,2.018070e+13,2.018070e+13,GRP_TD_AGENT,2018-07-04 05:35:54,2048.0,1.0,180704,2
4,5i2x22,BRTL_P_BRTL_PH_PMACS_PROD_HLD_INC_SR_4,BRTL_RTL2,2.018070e+13,2.018070e+13,GRP_TD_AGENT,2018-07-04 05:43:03,8.0,2048.0,180704,2

In [15]:
ajob.to_csv('/data/ajob_join_evet.csv',index=False)

In [ ]:
ajob = pd.read_csv(r'E:\jupyter\CTM\data_src\ajob\ajob_%s_0.txt'%day,low_memory=False)
ajob = ajob[ajob.]